<ion-header>
  <ion-toolbar>
    <ion-title>
      Ionic Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item color="light">
    <ion-label>Rest duration</ion-label>
    <ion-datetime display-format="mm:ss" placeholder="Tap here" [(ngModel)]="fullTime"></ion-datetime>
  </ion-item>
<circle-progress class="time" (click)="startTime()"
[percent]="percent"
[radius]="radius"
[outerStrokeWidth]="16"
[innerStrokeWidth]="8"
[outerStrokeColor]="'#78C000'"
[innerStrokeColor]="'#C7E596'"
[animation]="true"
[animationDuration]="300"
></circle-progress>
<p>{{elpased.h}}:{{elpased.m}}:{{elpased.s}}</p>
<ion-fab vertical="bottom" horizontal="end" slot="fixed">
  <ng-container *ngIf="timer===false;else running">
    <ion-fab-button (click)="startTime()">
      <ion-icon name="play"></ion-icon>
    </ion-fab-button>
  </ng-container>
  <ng-template #running>
    <ion-fab-button (click)="stopTime()">
      <ion-icon name="square"></ion-icon>
    </ion-fab-button>
  </ng-template>
</ion-fab>
</ion-content>
